
// @import '~bootstrap/scss/bootstrap';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  font-family: 'Heebo';
}